.disp-flex{
    display: flex;
    justify-content: space-between;
}

::ng-deep.modal-dialog {
    max-width: 80%;
    margin: 1.75rem auto;
}

.font-icon{
    font-size:18px;
}


::ng-deep.btn{
    padding:5px;
}
::ng-deep.table thead th {
    text-transform:none;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    display: inline-block;
}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}
.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
::ng-deep.lb-outerContainer {

    width: 50% !important;
    height: 50% !important;
}