<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">

        </div>
    </div>
</div>
<div class="container-fluid mt--7">
<div class="receipt-content" style="background: transparent;margin-top: -200px;">
	<div class="snippet">
		<div class="row">
			<div class="col-md-12">
				<div class="client-info" *ngIf="statutValue && reception && (!reception.justif_reception || reception.justif_reception.length==0) ">
					<input #recInput (change)="addReceptionFile(recInput,reception._id)" type="file" name="file" id="file" class="inputfile" />
					<label for="file" class="btn btn-warning">Télécharger justificatif de reception</label>
				</div>
				<div class="invoice-wrapper" id="bon">
					<div class="payment-info">
						<div class="row">
							<div class="col-sm-6">
								<span style='font-size: 16px'>No. Reception</span>
								<span *ngIf="reception" style='font-size: 16px'>{{reception.num}}</span>
							</div>
							<div class="col-sm-6 text-right">
								<span style='font-size: 16px'>Date de reception</span>
                                <span *ngIf="reception && reception.recu" style='font-size: 16px'>{{reception.createdAt | date:'medium'}}</span>
                                <span *ngIf="reception && !reception.recu" style='font-size: 16px'>{{now | date:'medium'}}</span>
							</div>	
						</div>
					</div>

					<div class="payment-details">
						<div class="row">
							<div class="col-sm-6" *ngIf="reception && reception.fournisseur">
								<p class="client-info">
									<span style='font-size: 16px'>Nom : </span>
									<span style='font-size: 16px'>{{reception.fournisseur.name}}</span>
								</p>
								<p class="client-info">
									<span style='font-size: 16px'>Adresse : </span>
									<span  style='font-size: 16px'>{{reception.fournisseur.adresse}}</span>
								</p>
								<p class="client-info">
									<span style='font-size: 16px'>Telephone : </span>
									<span style='font-size: 16px'>{{reception.fournisseur.tel}}</span>
								</p>
							</div>
							<div class="col-sm-6" *ngIf="reception && reception.fournisseur">
								<div class="float-right">
								
										
										
										<div class="client-info" *ngIf="reception" >
											<span class="btn btn-success text-white" *ngIf="reception.justif_reception && reception.justif_reception.length>0" (click)="voirImage(reception.justif_reception)">Voir justificatif de reception</span>
										</div>
									
									<p class="client-info">
										<span style='font-size: 16px'>Matricule Fiscale : </span>
										<span style='font-size: 16px'>{{reception.fournisseur.mat_fis}}</span>
									</p>
									<p class="client-info">
										<span style='font-size: 16px'>Email : </span>
										<span style='font-size: 16px'>{{reception.fournisseur.email}}</span>
									</p>
									
								</div>
							</div>
						</div>
					</div>

					<div class="line-items">
						<div class="headers clearfix">
							<!-- <table class="table align-items-center table-flush">
								<thead class="thead-light">
									<tr>
										<th scope="col">N°Mat</th> 
										<th scope="col">Reference</th>
										<th scope="col">Nom</th>
										<th scope="col">Nbr Lot</th>
										<th scope="col">Prix (HT)</th>
										<th scope="col">Qte reçu</th>
										<th scope="col">Date d'expiration</th>

									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let mat of matieres;let i=index">
                                     <td></td>

									</tr> -->
							 <div class="row header-matiere">
								<div class="col"  style='font-size: 16px'>N°Mat</div>
								<div class="col" style='font-size: 16px'>Reference</div>
								<div class="col" style='font-size: 16px'>Nom</div>
								<div class="col" style='font-size: 16px'>Nbr Lot</div>
								<div class="col" style='font-size: 16px'>Prix (HT)</div>
								<div class="col" style='font-size: 16px'>Qte Demandée</div>
								<div class="col" style='font-size: 16px'>Qte reçu</div>
								<div class="col" style='font-size: 16px'>Date d'expiration</div>
							</div> 
							<div class="row mt-2 mb-2" *ngFor="let mat of matieres;let i=index">
								<div class="row col-12 mat-holder">
									<div class="col" style='font-size: 16px'>Matiere {{i+1}}</div>
									<div class="col" style='font-size: 16px' >{{mat.reference}}</div>
									<div class="col" style='font-size: 16px'>{{mat.designation}}</div>
									<div class="col" style='font-size: 16px'>
										{{mat.lots_nbr}}
									</div>
									<div class="col" style='font-size: 16px'>
										{{mat.prix_achat}}
									</div>
									
									<div class="col" style='font-size: 16px'>{{mat.asked_quantite}}</div>
									<div class="col" style='font-size: 16px'>
										{{mat.livred_quantite}}
									</div>
									<div class="col">
										<span *ngIf="mat.isExpDate" style='font-size: 16px'>{{mat.date_expiration | date}}</span>
										<span *ngIf="!mat.isExpDate" style='font-size: 16px'>Aucune</span>
									</div>
								</div>
								<div class="table-responsive mt-2 ml-2" *ngIf="mat.lots_nbr>0">
									<table class="table align-items-center table-flush">
										<thead class="thead-light">
											<tr>
												<th scope="col">N° Lot</th> 
												<th scope="col">Code</th>
												<th scope="col">Qte</th>
												<th scope="col">Prix unitaire</th>
												<th scope="col">Date expiration</th>
												<th scope="col">Conforme</th>
												<th scope="col">deranger</th>

											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let lot of mat.lots;let j=index">
												<td>
                                                  <strong>Lot {{j+1}}</strong>
												</td>
												<td class="mb-0 text-sm">
                                                       {{lot.code}}
												</td>

												<td>
													{{lot.quantite}}
												</td>
												<td>
													{{mat.prix_achat}}
												</td>
												<td>
													<span *ngIf="lot.isExpire">
													  {{lot.date_expiration | date}}
													</span>
													<span *ngIf="!lot.isExpire">Aucune</span>
												</td>
												<td>
													<span *ngIf="lot.is_comfirmed == true" >conforme</span>
													<span *ngIf="lot.is_comfirmed == false" > non conforme</span>
												</td>
												<td>
													<span *ngIf="lot.is_deranger == true" >deranger</span>
													<span *ngIf="lot.is_deranger == false" > non deranger</span>
												</td>
							
												
											</tr>

										</tbody>
									</table>
								</div>


							</div>
						</div>

						<div class="total text-right">

							<div>

							</div>
						</div>

						<div class="row total">
							<div class="col-sm-6">
								<p class="extra-notes" *ngIf="reception">
									<span style='font-size: 18px'>Extra Notes</span>
									<textarea rows="4" [(ngModel)]="reception.note" disabled
										cols="50" style="background:transparent;border: none;"></textarea>

								</p>
							</div>
							<div class="col-sm-6 text-right" *ngIf="reception">
								<div class="float-right">
									<div>
										<span class="field-label" style='font-size: 18px'>Montant hors taxe</span>
										<span class="field-value">
											<div class="form-group">

												<span
													class="span-input" style='font-size: 18px'>{{reception.total_ht | number:'0.3-3'}}</span>
											</div>
										</span>
									</div>
									<div>
										<span class="field-label" style='font-size: 18px'>Montant TVA</span>
										<span class="field-value">
											<div class="form-group">

												<span
													class="span-input" style='font-size: 18px'>{{reception.total_tva | number:'0.3-3'}}</span>
											</div>
										</span>
									</div>
									<div class="field grand-total">
										<span class="field-label" style='font-size: 18px'>Montant TTC</span>
										<span class="field-value">
											<div class="form-group">

												<span
													class="span-input" style='font-size: 18px'>{{reception.total_ht+reception.total_tva | number:'0.3-3'}}</span>
											</div>
										</span>
									</div><br />
									<div class="field">
										<span class="field-label" style='font-size: 18px'>Statut</span> 
										<span class="field-value">
											<div class="form-group">
												<select class="form-control" [disabled]="statutValue" (change)="changerStatut($event)" [(ngModel)]="statut">
													<option *ngFor="let value of values" [value]="value">{{value}}</option>
												  </select>
											</div>
										</span>
									</div>

								</div>
							</div>
						</div>

					
					</div>
				</div>

				<div class="print imprime" >
					<a class="print-button " (click)="testprintpdf()">
						<i class="fa fa-print"></i>
						Imprimer
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<ng-template #docModal let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-title">Justificatif de reception</h4>
            <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body text-center" *ngIf="justificatif && justificatif.length>0">
            <img src="{{baseUrlImage+''+justificatif}}" class="img"/>
        </div>
        <div class="modal-footer">
            <!--modal.close('Ok click')-->
            <button type="button" mat-raised-button  class="btn btn-outline-secondary"
                (click)="modal.dismiss('cancel click')">Annuler</button>
            
        </div>
    </div>
</ng-template>