<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="min-height: 200px; background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->

    <div class=" container-fluid d-flex justify-content-between">
  <h6 class="size-header">Consulter Dossier</h6>
  <h6 class="size-header">Cree   par {{creator.fname}} {{creator.lname}}</h6>
    </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
  
    <div class="col-xl-11 order-xl-1">
      <div class="card bg-secondary shadow">
        <h6 class="heading-small text-muted mb-2"> Fournissuer </h6>
        <div class="card-header bg-white border-0 d-flex justify-content-between" *ngIf="fournissuer">
         <p>Nom : {{fournissuer.name}} </p>
         <img src="{{previewURL}}{{fournissuer.logo}}"  width="15%" class="rounded-circle" alt="image fournissuer">
        <p>Email:  {{fournissuer.email}}</p> 
        </div>
        <div class="card-body">
          <form [formGroup]="formFournisseur">
            <!-- Description -->
           
         
            
              <div class="row mb-2">  
              
               
              
                  
                    <!-- <div class="form-group col-lg-6">
                      <label for="date">Date<span class="champs-obligatoire">*</span></label>
                     <input type="date" formControlName="date"  class="form-control"/>
                   
                      </div> -->
                
                </div>
         
            
              
            
            
            <hr class="my-4" />
            <h6 class="heading-small text-muted mb-4">Dossier Import  du fournisseur</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="form-group col-lg-6">
                    <label for="exp">N° EXP<span class="champs-obligatoire">*</span></label>
                   <input [ngClass]="{ 'is-invalid': ft.exp.errors && ft.exp.touched }" type="text" formControlName="exp" class="form-control"/>
                   <div *ngIf="ft.exp.errors && ft.exp.touched" class="invalid-feedback">
                    <div *ngIf="ft.exp.errors.required"> N° EXP est requise</div>
                  </div>
                    </div>
                  <div class=" form-group col-lg-6">
                  <label for="RefBC">Réf BC <span class="champs-obligatoire">*</span></label>
                  <input  [ngClass]="{ 'is-invalid': ft.RefBC.errors && ft.RefBC.touched }"  type="text" formControlName="RefBC" name="RefBC" class="form-control"
                    placeholder="Saisir le reference" value=""
                    />
                  <div *ngIf="ft.RefBC.errors && ft.RefBC.touched" class="invalid-feedback">
                    <div *ngIf="ft.RefBC.errors.required">Réf BC  est requise</div>
                  </div></div>
                  <div class="form-group col-lg-6">
                    <label for="referencefacture">Réf Fact Fourn<span class="champs-obligatoire">*</span></label>
                    <input  [ngClass]="{ 'is-invalid': ft.referencefacture.errors && ft.referencefacture.touched }" type="text" formControlName="referencefacture" name="referencefacture" class="form-control"
                      placeholder="Réf Fact Fourn*" value=""
                     />
                     <div *ngIf="ft.referencefacture.errors && ft.referencefacture.touched" class="invalid-feedback">
                      <div *ngIf="ft.referencefacture.errors.required">Réf Fact Fourn requise</div> 
                    </div>
                  </div>
               
                  <div class="form-group col-lg-6">
                    <label for="note">Devise</label>
                    <mat-form-field class="top-100" >
                        <mat-select formControlName="devise">
                          <mat-option disabled value="">Devise</mat-option>
                          <ng-container>
                        
                          <mat-option  *ngFor="let devis of devies" [value]="devis.devise">{{devis.pays}}</mat-option>
                        </ng-container>
                        </mat-select>
                      </mat-form-field>
                  </div>
               
              
                  <div class="form-group col-lg-6">
                    <label for="mtdevise">Mt en devisee<span class="champs-obligatoire">*</span></label>
                    <input type="text" [ngClass]="{ 'is-invalid': ft.mtdevise.errors && ft.mtdevise.touched }" formControlName="mtdevise" name="mtdevise" class="form-control"
                      placeholder="Mt en devise*" value=""
                      />
                     <div *ngIf="ft.mtdevise.errors && ft.mtdevise.touched" class="invalid-feedback">
                      <div *ngIf="ft.mtdevise.errors.required">Matricule fiscale est requise</div> 
                    
                  </div> </div>
                  <div class="form-group col-lg-6">
                    <label for="tconversion">taux de conversion<span class="champs-obligatoire">*</span></label>
                    <input type="number" [ngClass]="{ 'is-invalid': ft.tconversion.errors && ft.tconversion.touched }" onkeypress="return event.charCode >= 48" min="1" step="0.01" formControlName="tconversion"
                      name="tconversion" (change)="calculemontant()" class="form-control" placeholder="cours de conversion*" value=""
                   />
                    <div *ngIf="ft.tconversion.errors && ft.tconversion.touched" class="invalid-feedback">
                      <div *ngIf="ft.tconversion.errors.required">taux de conversion est requis</div> 
                                       </div>
                  </div>
                </div>
            </div>
                  <hr class="my-4" />
              <div class="pl-lg-4">
              <div class="row">
               
                  <div class="form-group col-lg-3">
                    <label for="mtdinar">Mt en dinars<span class="champs-obligatoire">*</span></label>
                    <input type="number" disabled [ngClass]="{ 'is-invalid': ft.mtdinar.errors && ft.mtdinar.touched }" formControlName="mtdinar" name="mtdinar" class="form-control"
                      placeholder="Mt en dinars*" value=""
                     />
                    <div *ngIf="ft.mtdinar.errors && ft.mtdinar.touched" class="invalid-feedback">
                      <div *ngIf="ft.mtdinar.errors.required">montant en dinars</div> 
                  </div>
                  </div>
                  <div class="form-group col-lg-3">
                    <label for="Rdeclation">Réf déclaration douane<span class="champs-obligatoire">*</span></label>
                    <input type="text" [ngClass]="{ 'is-invalid': ft.Rdeclation.errors && ft.Rdeclation.touched }" formControlName="Rdeclation" name="Rdeclation" class="form-control"
                      placeholder="Réf déclaration douaner*" value="" />
                     <div *ngIf="ft.Rdeclation.errors && ft.Rdeclation.touched" class="invalid-feedback">
                      <div *ngIf="ft.Rdeclation.errors.required">L'Réf déclaration douane est requis</div>
                      
                    </div>                 
                  </div>
                
              
                  <div class="form-group col-lg-3">
                    <label for="droitD">droit de douane<span class="champs-obligatoire">*</span></label>
                    <input  [ngClass]="{ 'is-invalid': ft.droitD.errors && ft.droitD.touched }" type="text" formControlName="droitD" name="droitD" class="form-control"
                      placeholder="droit de douane*" value=""
                      />
                    <div *ngIf="ft.droitD.errors && ft.droitD.touched" class="invalid-feedback">
                      <div *ngIf="ft.droitD.errors.required">droit de douane est requise</div> 
                  </div>
                  </div>
                  <div class="form-group col-lg-3">
                    <label for="tva">tva<span class="champs-obligatoire">*</span></label>
                    <input [ngClass]="{ 'is-invalid': ft.tva.errors && ft.tva.touched }" type="number" onkeypress="return event.charCode >= 48" min="1" formControlName="tva"
                      name="tva" class="form-control" placeholder="tva*" value=""
                   />
                     <div *ngIf="ft.tva.errors && ft.tva.touched" class="invalid-feedback">
                      <div *ngIf="ft.tva.errors.required">tva est requis</div>
                    </div>
                  </div>
                    <div class="form-group col-lg-4">
                        <label for="avanceis">Avance/IS<span class="champs-obligatoire">*</span></label>
                        <input [ngClass]="{ 'is-invalid': ft.avanceis.errors && ft.avanceis.touched }" type="number" onkeypress="return event.charCode >= 48" min="1" formControlName="avanceis"
                          name="avanceis" class="form-control" placeholder="Avance/IS*" value=""
                       />
                       <div *ngIf="ft.avanceis.errors && ft.avanceis.touched" class="invalid-feedback">
                        <div *ngIf="ft.avanceis.errors.required">tva est requis</div>
                      </div>
                  </div>
                  <div class="form-group col-lg-4">
                    <label for="refQ">Réf quittance<span class="champs-obligatoire">*</span></label>
                    <input [ngClass]="{ 'is-invalid': ft.refQ.errors && ft.refQ.touched }" type="number" onkeypress="return event.charCode >= 48" min="1" formControlName="refQ"
                      name="refQ" class="form-control" placeholder="ref quittance*" value=""
                   />
                   <div *ngIf="ft.refQ.errors && ft.refQ.touched" class="invalid-feedback">
                    <div *ngIf="ft.refQ.errors.required">Réf quittance</div>
                  </div>
              </div>
              <div class="form-group col-lg-4">
                <label for="assurence">assurance<span class="champs-obligatoire">*</span></label>
                <input type="text"  formControlName="assurence"
                  name="assurence" class="form-control" placeholder="assurance*" value=""
               />
          </div>
          <div class="form-group col-lg-3">
            <label for="Magasinage">Magasinage<span class="champs-obligatoire">*</span></label>
            <input type="text"  formControlName="Magasinage"
              name="Magasinage" class="form-control" placeholder="Magasinage*" value=""
           />
      </div>
      <div class="form-group col-lg-3">
        <label for="Fret">Fret<span class="champs-obligatoire">*</span></label>
        <input type="text"  formControlName="Fret"
          name="Fret" class="form-control" placeholder="Fret*" value=""
       />
  </div>
  <div class="form-group col-lg-3">
    <label for="Transit">Transit<span class="champs-obligatoire">*</span></label>
    <input type="text"  formControlName="Transit"
      name="Transit" class="form-control" placeholder="Transit*" value=""
   />
</div>
<div class="form-group col-lg-3">
    <label for="Transport">Transport<span class="champs-obligatoire">*</span></label>
    <input type="number"  formControlName="Transport" min="0" step="0.01"
      name="Transport" class="form-control" placeholder="Transport*" value=""
   />
</div>
</div>
              </div>
            <div class="text-center">
            <button 
              type="submit" 
              (click)="dossierupdateSubmit()"
              [ngClass]="{ 'btn-danger': formFournisseur.invalid , 'btn-success': !formFournisseur.invalid}">update
              Dossier</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
