<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">

        </div>
    </div>
</div>
<div class="container-fluid mt--7">
<div class="receipt-content" style="background: transparent;margin-top: -200px;">
	<div class="snippet">
		<div class="row">
			<div class="col-md-12" id="facture">
				<div class="invoice-wrapper">
					<div class="payment-info">
						<div class="row">
							<div class="col-sm-6">
								<span style='font-size: 18px'>No. Facture :  </span>
								<span style='font-size: 18px'>{{name}}</span>
							</div>
							<div class="col-sm-6 text-right">
								<span style='font-size: 18px'>Date de création :  </span>
								<span style='font-size: 18px'>{{now | date:'medium'}}</span>
							</div>
						</div>
					</div>

					<div class="payment-details">
						<div class="row">
							<div class="col-sm-6" *ngIf="fournisseur">
								<p class="client-info">
									<span style='font-size: 18px' >Nom : </span>
									<span style='font-size: 18px'>{{fournisseur.name}}</span>
								</p>
								<p class="client-info">
									<span style='font-size: 18px'>Adresse : </span>
									<span style='font-size: 18px'>{{fournisseur.adresse}}</span>
								</p>
								<p class="client-info">
									<span style='font-size: 18px'>Telephone : </span>
									<span style='font-size: 18px'>{{fournisseur.tel}}</span>
								</p>
							</div>
							<div class="col-sm-6" *ngIf="fournisseur">
								<div class="float-right">
									<p class="client-info">
										<span style='font-size: 18px'>Matricule Fiscale : </span>
										<span style='font-size: 18px'>{{fournisseur.mat_fis}}</span>
									</p>
									<p class="client-info">
										<span style='font-size: 18px'>Email : </span>
										<span style='font-size: 18px'>{{fournisseur.email}}</span>
									</p>
									<p class="client-info">
										<span style='font-size: 18px'>Zone : </span>
										<span style='font-size: 18px'>{{fournisseur.zone}}</span>
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="line-items">
						<div class="headers clearfix">
							<div class="row">
								<div class="table-responsive">
									<table class="table align-items-center table-flush">
										<thead class="thead-light">
											<tr>
                                              
												<th scope="col">N°</th>
												<th scope="col">Fournisseur</th>
												<th scope="col">Tel</th>
												<th scope="col">Date de livraison</th>
												<th scope="col">Total (hors taxe)</th>
												<th scope="col">TVA</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let reception of receptions;let i=index">
												<td class="mb-0 text-sm"> {{reception.num}}</td>

												<td *ngIf="fournisseur">
													{{fournisseur.name}}
												</td>
												<td *ngIf="fournisseur">
                                                    {{fournisseur.tel}}
                                                </td>
												<td>
													{{reception.date_livraison | date}}
												</td>
												<td>
													{{reception.total_ht | number:'0.3-3'}}
												</td>
												<td>
													{{reception.total_tva | number:'0.3-3'}}
												</td>
											</tr>

										</tbody>
									</table>
								</div>
							</div>
						</div>

						<div class="total text-right">

							<div>

							</div>
						</div>

						<div class="row total">
							<div class="col-sm-6">
								<p class="extra-notes" *ngIf="statut">
                                    <strong>Mode de paiement</strong>
                                   
                                        <select class="form-control" (change)="changerMode($event)" [(ngModel)]="mode" id="exampleFormControlSelect1">
											<option *ngFor="let value of modes" [value]="value">{{value}}</option>
                                          </select>
                                   
									

								</p>
							</div>
							<div class="col-sm-6 text-right">
								<div class="float-right">
									<div class="field">
										<span style='font-size: 18px'>Montant hors taxe</span>
										<span class="field-value">
										
												<span  
													class="form-control span-input" 
													>{{total | number:'0.3-3'}}</span>
											
										</span>
									</div>
									<div class="field">
										<span class="field-label" style='font-size: 18px'>Montant TVA</span>
										<span class="field-value">
											
												
													<span  
													class="form-control span-input" 
													>{{totalTva | number:'0.3-3'}}</span>
										
										</span>
									</div>
									<div class="field">
										<span class="field-label" style='font-size: 18px'>Timbre Fiscale</span>
										<span class="field-value">
										
												<input type="number" step="any" onkeypress="return event.charCode >= 48" min="0.001" [(ngModel)]="timbre" class="form-control"
													 placeholder="0.00 DT">
													 
											
										</span>
                                    </div>
									<div class="field grand-total">
										<span class="field-label" style='font-size: 18px'>Montant TTC</span>
										<span class="field-value">
											<div class="form-group">
													<span  
													class="form-control span-input" 
													>{{total+totalTva+timbre | number:'0.3-3'}}</span>
											</div>
										</span>
									</div><br/>
									<div class="field">
										<span class="field-label">Statut</span> 
										<span class="field-value">
											<div class="form-group">
												<select class="form-control" (change)="changerStatut($event)" id="exampleFormControlSelect1">
                                                    <option value="nopayed">Non Payée</option>
                                                    <option value="payed">Payée</option>
												  </select>
											</div>
										</span>
									</div>
								</div>
							</div>
						</div>

					
					</div>
				</div>

				
			</div>
			<div class="print imprime">
				<button class="btn btn-success" (click)="submitFacture()">Sauvegarder</button><br/>
				<a  class="print-button" (click)="printWindow()">
					<i class="fa fa-print"></i>
					Imprimer
				</a>
			</div>
		</div>
	</div>
	</div>
</div>